    <div id="bottom">
        <div class="footer">
            <a href="http://www.hulihanapplications.com/projects_bxr.php"><img src="/images/bxr_tiny.png" title="BXR" alt="BXR" border=0 align=middle></a> &#0169; <a href="http:///www.hulihanapplications.com/">Hulihan Applications</a>, <%= Time.now.year %>
        </div>
    </div>